*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color:white;
  
}
html,
body{
  background-color: red;
 color:black;
}
.card{
  background-color: pink;
  border-radius: 10px;
  margin:20px;
}
